@page "/"
@page "/browse"
@using Radzen
@using Radzen.Blazor
@using SimpleMailArchiver.Data
@using Microsoft.AspNetCore.Components.Web
@using SimpleMailArchiver.Shared

<PageTitle>Mail Archive</PageTitle>
@inject ArchiveContext DbContext;

<h1>Mail Archive</h1>

@{
    RadzenDataGrid<MailMessage> grid;
}
<RadzenDataGrid @ref="grid" AllowPaging="@true" AllowSorting="@true" AllowFiltering="@true" FilterMode="FilterMode.Simple" Data="@_messages">
    <Columns>
        <RadzenDataGridColumn Property="@nameof(MailMessage.Id)" Title="Id" />
        <RadzenDataGridColumn Property="@nameof(MailMessage.Sender)" Title="Sender" />
        <RadzenDataGridColumn Property="@nameof(MailMessage.Recipient)" Title="Recipient" />
        <RadzenDataGridColumn Property="@nameof(MailMessage.Date)" Title="Date" />
        </Columns>
</RadzenDataGrid>

@if (_showMessage)
{
    <DisplayMail Message="@_selectedMessage" OnClose="@DisplayMailClosing" />
}

@code {
    private IQueryable<MailMessage>? _messages;
    private bool _showMessage;

    private MailMessage? _selectedMessage;
    
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        
        _messages = DbContext.MailMessages;
    }

    private void DisplayMessage(MailMessage message)
    {
        _selectedMessage = message ?? throw new ArgumentNullException(nameof(message));
        _showMessage = true;
    }

    private void DisplayMailClosing() => _showMessage = false;
}
