@page "/"
@page "/browse"
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.EntityFrameworkCore
@using Radzen
@using Radzen.Blazor
@using SimpleMailArchiver.Data
@using SimpleMailArchiver.Shared

<PageTitle>Mail Archive</PageTitle>
@inject ArchiveContext DbContext;
@inject DialogService DialogService;

<h1>Mail Archive</h1>
<RadzenDataGrid AllowPaging="@true" AllowSorting="@true" AllowFiltering="@true" FilterMode="FilterMode.Simple"
                Data="@_messages">
    <Columns>
        <RadzenDataGridColumn Property="@nameof(MailMessage.Date)" Title="Date" SortOrder="SortOrder.Descending"/>
        <RadzenDataGridColumn Property="@nameof(MailMessage.Subject)" Title="Subject"/>
        <RadzenDataGridColumn Property="@nameof(MailMessage.Sender)" Title="Sender"/>
        <RadzenDataGridColumn Property="@nameof(MailMessage.Recipient)" Title="Recipient"/>
        <RadzenDataGridColumn Property="@nameof(MailMessage.Folder)" Title="Folder" FilterMode="FilterMode.CheckBoxList"/>
        <RadzenDataGridColumn Property="@nameof(MailMessage.HasAttachments)" Sortable="@false" Filterable="@false">
            <HeaderTemplate>
                <RadzenIcon Icon="attach_file"/>
            </HeaderTemplate>
            <Template>
                @{
                    var numberOfAttachments = context.NumberOfAttachments;
                    if (numberOfAttachments is null or 0)
                    {
                        <RadzenIcon Icon="close"/>
                    }
                    else
                    {
                        <RadzenIcon Icon="check"/>
                        <p class="in-table">(@numberOfAttachments)</p>
                    }
                }
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn Sortable="@false" Filterable="@false">
            <HeaderTemplate>
            </HeaderTemplate>
            <Template>
                <RadzenButton Click="@(() => DisplayMessage(context))">Open</RadzenButton>
            </Template>
        </RadzenDataGridColumn>

    </Columns>
</RadzenDataGrid>

@code {
    private IQueryable<MailMessage>? _messages;
    
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

       
        _messages = DbContext.MailMessages;
        var folders = _messages.Select(m => m.Folder).Distinct();
    }

    private void DisplayMessage(MailMessage message)
    {
        var dict = new Dictionary<string, object>
        {
            { "Message", message }
        };
         DialogService.Open<DisplayMail>("Mail", dict, new DialogOptions(){ Width = "1200px", Height = "800px" });
    }
}
