@page "/"
@page "/browse"
@using System.Diagnostics
@using Radzen
@using Radzen.Blazor
@using SimpleMailArchiver.Data
@using SimpleMailArchiver.Shared

@inject ArchiveContext DbContext;
@inject DialogService DialogService;

<h3>Mail Archive</h3>


<RadzenDataGrid
    @ref="@_messagesGrid"
    AllowPaging="@true"
    AllowSorting="@true"
    AllowFiltering="@true"
    FilterMode="FilterMode.SimpleWithMenu"
    AllowVirtualization="@false"
    FilterPopupRenderMode="PopupRenderMode.OnDemand"
    LogicalFilterOperator="LogicalFilterOperator.And"
    FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
    AllowColumnResize="@true"
    AllowAlternatingRows="@true"
    PageSizeOptions="@(new[] { 10, 25, 50, 100, 250, 500, 1000 })"
    Cou
    Data="@_messages">
    <Columns>
        <RadzenDataGridColumn Property="@nameof(MailMessage.Date)" Title="Date" SortOrder="SortOrder.Descending">
            <GroupFooterTemplate>
                Showing <b>@_messages!.AsQueryable().Where(_messagesGrid!.ColumnsCollection).Count()</b> of
                <b>@_messages!.Count()</b> messages
            </GroupFooterTemplate>

        </RadzenDataGridColumn>
        <RadzenDataGridColumn Property="@nameof(MailMessage.Subject)" Title="Subject"/>
        <RadzenDataGridColumn Property="@nameof(MailMessage.Sender)" Title="Sender"/>
        <RadzenDataGridColumn Property="@nameof(MailMessage.Recipient)" Title="Recipient"/>
        <RadzenDataGridColumn Property="@nameof(MailMessage.Folder)" Title="Folder"
                              FilterMode="FilterMode.CheckBoxList"/>
        <RadzenDataGridColumn Property="@nameof(MailMessage.HasAttachments)" Sortable="@false" Filterable="@false">
            <HeaderTemplate>
                <RadzenIcon Icon="attach_file"/>
            </HeaderTemplate>
            <Template>
                @{
                    var numberOfAttachments = context.NumberOfAttachments;
                    if (numberOfAttachments is null or 0)
                    {
                        <RadzenIcon Icon="close"/>
                    }
                    else
                    {
                        <RadzenIcon Icon="check"/>
                        <p class="in-table">(@numberOfAttachments)</p>
                    }
                }
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn Sortable="@false" Filterable="@false">
            <HeaderTemplate>
            </HeaderTemplate>
            <Template>
                <RadzenButton Click="@(() => DisplayMessage(context))">Open</RadzenButton>
            </Template>
        </RadzenDataGridColumn>

    </Columns>
</RadzenDataGrid>

@code {
    private IQueryable<MailMessage>? _messages;
    private RadzenDataGrid<MailMessage>? _messagesGrid;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();


        _messages = DbContext.MailMessages;
        var sw = Stopwatch.StartNew();
        var folders = _messages.Count();
        sw.Stop();
    }

    private void DisplayMessage(MailMessage message)
    {
        var dict = new Dictionary<string, object>
        {
            { "Message", message }
        };
        DialogService.Open<DisplayMail>("Mail", dict, new DialogOptions { Width = "1200px", Height = "800px" });
    }

}
