@page "/import-folder"
@using System.Diagnostics
@using SimpleMailArchiver.Data
@using SimpleMailArchiver.Services.MessageImportService
@using Radzen.Blazor
@using Microsoft.AspNetCore.Components.Web
@using SimpleMailArchiver.Shared
@inject ILoggerFactory LoggerFactory;
@inject MessageImportService MessageImportService;
@inject ApplicationContext AppContext;


<PageTitle>Import mail from local folder</PageTitle>

<h1>Import mail from folder on server</h1>

<p>This will import emails from a folder with .eml files mounted to the @AppContext.PathConfig.ImportBasePath in the docker container.</p>

<p>Root folder name for the import in archive: <RadzenTextBox Value="@_rootImportPath"/></p>
<p>The path the root folder in the archive the import folder will be mapped to.</p>
<p>E.g.: If you enter "inbox/", all emails from the import folder will be put in the inbox folder of the archive. Subfolders in the import folder containing emails will be created under the inbox folder in the archive.</p>

<p>
    <button class="btn btn-primary" @onclick="() => Task.Run(ImportFolder)" disabled="@AppContext.ImportRunning">Import from folder</button>
    <button class="btn btn-primary" @onclick="Cancel">Cancel</button>
</p>

<p role="status">@AppContext.ImportProgress?.InfoMessage</p>
<table class="table-responsive">
    <tr>
        <td>Current Folder</td>
        <td style="padding-left: 10px !important">@AppContext.ImportProgress?.CurrentFolder</td>
    </tr>
    <tr>
        <td>Processed messages</td>
        <td style="padding-left: 10px !important">@AppContext.ImportProgress?.ParsedMessageCount</td>
    </tr>
    <tr>
        <td>Imported messages</td>
        <td style="padding-left: 10px !important">@AppContext.ImportProgress?.ImportedMessageCount</td>
    </tr>
</table>

@if (AppContext.ImportRunning)
{
    <ImportDialog Progress="@AppContext.ImportProgress" OnCancel="@Cancel" />
}


@code {
    private CancellationTokenSource? _ctSource;

    private void Cancel() => _ctSource?.Cancel();
    private string _rootImportPath = "inbox/";

    private async Task ImportFolder()
    {
        if (AppContext.ImportRunning)
            return;

        _ctSource = new CancellationTokenSource();
        AppContext.ImportProgress = new ImportProgress(LoggerFactory)
        {
            Ct = _ctSource.Token
        };
        var emlPaths = Directory.GetFiles(AppContext.PathConfig.ImportBasePath, "*.eml", SearchOption.AllDirectories);

        if (emlPaths.Length == 0)
        {
            AppContext.ImportProgress.InfoMessage = $"No .eml files found for import in {AppContext.PathConfig.ImportBasePath}";
            return;
        }

        AppContext.ImportProgress.TotalMessageCount = emlPaths.Length;

        await InvokeAsync(StateHasChanged);

        var watch = new Stopwatch();
        var fmt = @"hh\:mm\:ss";

        try
        {
            AppContext.ImportProgress.InfoMessage = "Import starting, please wait...";
            watch.Start();

            var mailTask = MessageImportService.ImportFromFolder(emlPaths, AppContext.PathConfig.ImportBasePath, AppContext.ImportProgress);

            while (!mailTask.IsCompleted)
            {
                AppContext.ImportProgress.InfoMessage = $"Import running, duration {watch.Elapsed.ToString(fmt)}, please wait...";
                await InvokeAsync(StateHasChanged);
                Thread.Sleep(1000);
            }

            await mailTask;

            AppContext.ImportProgress.InfoMessage = $"Import finished after {watch.Elapsed.ToString(fmt)}";
        }
        catch (OperationCanceledException)
        {
            AppContext.ImportProgress.InfoMessage = $"Import was cancelled after {watch.Elapsed.ToString(fmt)}.";
        }
        catch (InvalidDataException)
        {
            AppContext.ImportProgress.InfoMessage = "Import failed: Internal error: Hash Mismatch";
        }
        catch (ArgumentException ex)
        {
            AppContext.ImportProgress.InfoMessage = $"Import failed: {ex.Message}";
        }
        catch (Exception ex)
        {
            AppContext.ImportProgress.InfoMessage = $"Import failed with unexpected Error: {ex.Message}";
        }
        finally
        {
            AppContext.ImportRunning = false;
            await InvokeAsync(StateHasChanged);
        }
    }
}

