@page "/import-folder"
@using System.Diagnostics
@using Microsoft.AspNetCore.Components.Web
@using Radzen
@using Radzen.Blazor
@using SimpleMailArchiver.Data
@using SimpleMailArchiver.Services.MessageImportService
@using SimpleMailArchiver.Shared
@inject ILoggerFactory LoggerFactory;
@inject MessageImportService MessageImportService;
@inject ApplicationContext AppContext;


<PageTitle>Import mail from local folder</PageTitle>

<RadzenCard Style="max-width:900px;margin:20px auto;">
    <ChildContent>
        <h1>Import mail from folder on server</h1>

        <p class="text-muted">This will import emails from a folder with .eml files mounted to the <strong>@AppContext.PathConfig.ImportBasePath</strong> in the docker container.</p>

        <RadzenTemplateForm TItem="string" Data="_rootImportPath">
            <div class="mb-3">
                <label class="form-label">Root folder name for the import in archive</label>
                <RadzenTextBox @bind-Value="_rootImportPath" Style="width:300px" AriaLabel="Root import path" />
                <div class="form-text">E.g.: If you enter "inbox/", all emails from the import folder will be put in the inbox folder of the archive. Subfolders will be created under the inbox folder.</div>
            </div>

            <div class="mb-3">
                <RadzenButton Icon="upload" ButtonStyle="ButtonStyle.Primary" Click="@(()=> Task.Run(ImportFolder))" Disabled="@AppContext.ImportRunning">Import from folder</RadzenButton>
                <RadzenButton Icon="close" ButtonStyle="ButtonStyle.Secondary" Click="@Cancel" Style="margin-left:8px;">Cancel</RadzenButton>
            </div>
        </RadzenTemplateForm>

        <div class="mt-3" aria-live="polite">
            <RadzenText Value="@AppContext.ImportProgress?.InfoMessage" Disabled="true" Style="width:100%" />
        </div>

        <div class="mt-3">
            <RadzenProgressBar Value="@((AppContext.ImportProgress?.TotalMessageCount == 0) ? 0 : (double)(AppContext.ImportProgress?.ImportedMessageCount ?? 0) / (AppContext.ImportProgress?.TotalMessageCount ?? 1) * 100)" ShowValue="true" Style="height:18px" />
        </div>

        <div class="mt-3">
            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <td>Current Folder</td>
                        <td>@AppContext.ImportProgress?.CurrentFolder</td>
                    </tr>
                    <tr>
                        <td>Processed messages</td>
                        <td>@AppContext.ImportProgress?.ParsedMessageCount</td>
                    </tr>
                    <tr>
                        <td>Imported messages</td>
                        <td>@AppContext.ImportProgress?.ImportedMessageCount</td>
                    </tr>
                </table>
            </div>
        </div>

        @if (AppContext.ImportRunning)
        {
            <ImportDialog Progress="@AppContext.ImportProgress" OnCancel="@Cancel" />
        }
    </ChildContent>
</RadzenCard>


@code {
    private CancellationTokenSource? _ctSource;

    private void Cancel() => _ctSource?.Cancel();
    private string _rootImportPath = "inbox/";

    private async Task ImportFolder()
    {
        if (AppContext.ImportRunning)
            return;

        _ctSource = new CancellationTokenSource();
        AppContext.ImportProgress = new ImportProgress(LoggerFactory)
        {
            Ct = _ctSource.Token
        };
        var emlPaths = Directory.GetFiles(AppContext.PathConfig.ImportBasePath, "*.eml", SearchOption.AllDirectories);

        if (emlPaths.Length == 0)
        {
            AppContext.ImportProgress.InfoMessage = $"No .eml files found for import in {AppContext.PathConfig.ImportBasePath}";
            return;
        }

        AppContext.ImportProgress.TotalMessageCount = emlPaths.Length;

        await InvokeAsync(StateHasChanged);

        var watch = new Stopwatch();
        var fmt = @"hh\:mm\:ss";

        try
        {
            AppContext.ImportProgress.InfoMessage = "Import starting, please wait...";
            watch.Start();

            var mailTask = MessageImportService.ImportFromFolder(emlPaths, AppContext.PathConfig.ImportBasePath, AppContext.ImportProgress);

            while (!mailTask.IsCompleted)
            {
                AppContext.ImportProgress.InfoMessage = $"Import running, duration {watch.Elapsed.ToString(fmt)}, please wait...";
                await InvokeAsync(StateHasChanged);
                Thread.Sleep(1000);
            }

            await mailTask;

            AppContext.ImportProgress.InfoMessage = $"Import finished after {watch.Elapsed.ToString(fmt)}";
        }
        catch (OperationCanceledException)
        {
            AppContext.ImportProgress.InfoMessage = $"Import was cancelled after {watch.Elapsed.ToString(fmt)}.";
        }
        catch (InvalidDataException)
        {
            AppContext.ImportProgress.InfoMessage = "Import failed: Internal error: Hash Mismatch";
        }
        catch (ArgumentException ex)
        {
            AppContext.ImportProgress.InfoMessage = $"Import failed: {ex.Message}";
        }
        catch (Exception ex)
        {
            AppContext.ImportProgress.InfoMessage = $"Import failed with unexpected Error: {ex.Message}";
        }
        finally
        {
            AppContext.ImportRunning = false;
            await InvokeAsync(StateHasChanged);
        }
    }
}
